body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 600px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #888;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="number"],
input[type="url"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 16px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-container input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    color: #000;
}

button, 
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 15px;
}

button:hover {
    background-color: #3e8e41;
}

.errors {
    color: red;
    text-align: start;
}

ul {
    list-style-type: symbols('*');
}